vindicia/wsdl/8.0/Vindicia.xsd

  <xsd:schema targetNamespace="http://soap.vindicia.com/v8_0/Vindicia" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:enc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://soap.vindicia.com/v8_0/Vindicia" xmlns:vin="http://soap.vindicia.com/v8_0/Vindicia" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsdl="http://soap.vindicia.com/v8_0/Vindicia" >
  <xsd:import namespace="http://schemas.xmlsoap.org/soap/encoding/" />
  <xsd:complexType name="Account">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="VID" type="xsd:string" />
      <xsd:element minOccurs="0" name="merchantAccountId" type="xsd:string" />
      <xsd:element minOccurs="0" name="emailAddress" type="xsd:string" />
      <xsd:element minOccurs="0" name="emailTypePreference" type="tns:EmailPreference" />
      <xsd:element minOccurs="0" name="preferredLanguage" type="xsd:string" />
      <xsd:element minOccurs="0" name="warnBeforeAutobilling" type="xsd:boolean" />
      <xsd:element minOccurs="0" name="company" type="xsd:string" />
      <xsd:element minOccurs="0" name="name" type="xsd:string" />
      <xsd:element minOccurs="0" name="shippingAddress" type="tns:Address" />
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="paymentMethods" type="vin:PaymentMethod" />
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="nameValues" type="vin:NameValuePair" />
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="taxExemptions" type="vin:TaxExemption" />
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="tokenBalances" type="vin:TokenAmount" />
      <xsd:element minOccurs="0" name="credit" type="vin:Credit" />
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="entitlements" type="vin:Entitlement" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ActivityTypeArg">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="loginArgs" type="tns:ActivityLogin" />
      <xsd:element minOccurs="0" name="logoutArgs" type="tns:ActivityLogout" />
      <xsd:element minOccurs="0" name="uriviewArgs" type="tns:ActivityURIView" />
      <xsd:element minOccurs="0" name="phoneArgs" type="tns:ActivityPhoneContact" />
      <xsd:element minOccurs="0" name="emailArgs" type="tns:ActivityEmailContact" />
      <xsd:element minOccurs="0" name="fulfillmentArgs" type="tns:ActivityFulfillment" />
      <xsd:element minOccurs="0" name="usageArgs" type="tns:ActivityUsage" />
      <xsd:element minOccurs="0" name="namedvalueArgs" type="tns:ActivityNamedValue" />
      <xsd:element minOccurs="0" name="cancellationArgs" type="tns:ActivityCancellation" />
      <xsd:element minOccurs="0" name="noteArgs" type="tns:ActivityNote" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ActivityLogin">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="ip" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ActivityLogout">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="ip" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ActivityUsage">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="description" type="xsd:string" />
      <xsd:element minOccurs="0" name="total" type="xsd:int" />
      <xsd:element minOccurs="0" name="lastDay" type="xsd:int" />
      <xsd:element minOccurs="0" name="lastWeek" type="xsd:int" />
      <xsd:element minOccurs="0" name="lastMonth" type="xsd:int" />
      <xsd:element minOccurs="0" name="lastYear" type="xsd:int" />
      <xsd:element minOccurs="0" name="lastUsageDate" type="xsd:dateTime" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ActivityNamedValue">
    <xsd:sequence>
      <xsd:element minOccurs="1" name="type" type="xsd:string" />
      <xsd:element minOccurs="1" name="name" type="xsd:string" />
      <xsd:element minOccurs="1" name="value" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ActivityPhoneContact">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="srcPhoneNumber" type="xsd:string" />
      <xsd:element minOccurs="0" name="destPhoneNumber" type="xsd:string" />
      <xsd:element minOccurs="0" name="cidPhoneNumber" type="xsd:string" />
      <xsd:element minOccurs="0" name="aniPhoneNumber" type="xsd:string" />
      <xsd:element minOccurs="0" name="durationSeconds" type="xsd:int" />
      <xsd:element minOccurs="0" name="note" type="xsd:string" />
      <xsd:element minOccurs="1" name="type" type="tns:ActivityCallType" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ActivityEmailContact">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="srcEmail" type="xsd:string" />
      <xsd:element minOccurs="0" name="destEmail" type="xsd:string" />
      <xsd:element minOccurs="0" name="note" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ActivityFulfillment">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="merchantTransactionId" type="xsd:string" />
      <xsd:element minOccurs="0" name="shipper" type="xsd:string" />
      <xsd:element minOccurs="0" name="trackingString" type="xsd:string" />
      <xsd:element minOccurs="0" name="shippingAddress" type="tns:Address" />
      <xsd:element minOccurs="0" name="delivered" type="xsd:boolean" />
      <xsd:element minOccurs="0" name="receivedTs" type="xsd:dateTime" />
      <xsd:element minOccurs="0" name="receiptName" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ActivityURIView">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="ip" type="xsd:string" />
      <xsd:element minOccurs="1" name="uri" type="xsd:anyURI" />
      <xsd:element minOccurs="0" name="size" type="xsd:int" />
      <xsd:element minOccurs="0" name="bytesTransferred" type="xsd:int" />
      <xsd:element minOccurs="0" name="transferTime" type="xsd:int" />
      <xsd:element minOccurs="1" name="description" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ActivityCancellation">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="reason" type="xsd:string" />
      <xsd:element minOccurs="0" name="confirmationCode" type="xsd:int" />
      <xsd:element minOccurs="1" name="initiator" type="tns:ActivityCancelInitType" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ActivityNote">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="note" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Activity">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="account" type="tns:Account" />
      <xsd:element minOccurs="1" name="activityType" type="tns:ActivityType" />
      <xsd:element minOccurs="0" name="activityArgs" type="tns:ActivityTypeArg" />
      <xsd:element minOccurs="1" name="timestamp" type="xsd:dateTime" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Address">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="VID" type="xsd:string" />
      <xsd:element minOccurs="0" name="name" type="xsd:string" />
      <xsd:element minOccurs="0" name="addr1" type="xsd:string" />
      <xsd:element minOccurs="0" name="addr2" type="xsd:string" />
      <xsd:element minOccurs="0" name="addr3" type="xsd:string" />
      <xsd:element minOccurs="0" name="city" type="xsd:string" />
      <xsd:element minOccurs="0" name="county" type="xsd:string" />
      <xsd:element minOccurs="0" name="district" type="xsd:string" />
      <xsd:element minOccurs="0" name="postalCode" type="xsd:string" />
      <xsd:element minOccurs="0" name="country" type="xsd:string" />
      <xsd:element minOccurs="0" name="phone" type="xsd:string" />
      <xsd:element minOccurs="0" name="fax" type="xsd:string" />
      <xsd:element minOccurs="0" name="latitude" type="xsd:decimal" />
      <xsd:element minOccurs="0" name="longitude" type="xsd:decimal" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Authentication">
    <xsd:sequence>
      <xsd:element minOccurs="1" name="version" type="xsd:string" />
      <xsd:element minOccurs="1" name="login" type="xsd:string" />
      <xsd:element minOccurs="1" name="password" type="xsd:string" />
      <xsd:element minOccurs="0" name="evid" type="xsd:string" />
      <xsd:element minOccurs="0" name="userAgent" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="AutoBillItem">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="merchantAutoBillItemId" type="xsd:string" />
      <xsd:element minOccurs="0" name="VID" type="xsd:string" />
      <xsd:element minOccurs="0" name="index" type="xsd:int" />
      <xsd:element minOccurs="0" name="product" type="tns:Product" />
      <xsd:element minOccurs="0" name="amount" type="xsd:decimal" />
      <xsd:element minOccurs="0" name="currency" type="xsd:string" />
      <xsd:element minOccurs="0" name="ratePlan" type="vin:RatePlan" />
      <xsd:element minOccurs="0" name="eventInitializer" type="vin:Event" />
      <xsd:element minOccurs="0" name="token" type="vin:Token" />
      <xsd:element minOccurs="0" name="cycles" type="xsd:int" />
      <xsd:element minOccurs="0" name="cyclesRemaining" type="xsd:int" />
      <xsd:element minOccurs="0" name="addedDate" type="xsd:dateTime" />
      <xsd:element minOccurs="0" name="removedDate" type="xsd:dateTime" />
      <xsd:element minOccurs="0" name="startDate" type="xsd:string" />
      <xsd:element minOccurs="0" name="campaignCode" type="xsd:string" />
      <xsd:element minOccurs="0" name="campaignId" type="xsd:string" />
      <xsd:element minOccurs="0" name="transitionedFromMerchantAutoBillItemId" type="xsd:string" />
      <xsd:element minOccurs="0" name="transitionedToMerchantAutoBillItemId" type="xsd:string" />
      <xsd:element minOccurs="0" name="transitionedFromAutoBillItemVid" type="xsd:string" />
      <xsd:element minOccurs="0" name="transitionedToAutoBillItemVid" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="AutoBill">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="VID" type="xsd:string" />
      <xsd:element minOccurs="0" name="merchantAutoBillId" type="xsd:string" />
      <xsd:element minOccurs="0" name="account" type="tns:Account" />
      <xsd:element minOccurs="0" name="billingPlan" type="tns:BillingPlan" />
      <xsd:element minOccurs="0" name="paymentMethod" type="vin:PaymentMethod" />
      <xsd:element minOccurs="0" name="currency" type="xsd:string" />
      <xsd:element minOccurs="0" name="customerAutoBillName" type="xsd:string" />
      <xsd:element minOccurs="0" name="status" type="tns:AutoBillStatus" />
      <xsd:element minOccurs="0" name="startTimestamp" type="xsd:dateTime" />
      <xsd:element minOccurs="0" name="endTimestamp" type="xsd:dateTime" />
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="items" type="vin:AutoBillItem" />
      <xsd:element minOccurs="0" name="sourceIp" type="xsd:string" />
      <xsd:element minOccurs="0" name="billingStatementIdentifier" type="xsd:string" />
      <xsd:element minOccurs="0" name="billingDay" type="xsd:int" />
      <xsd:element minOccurs="0" name="minimumCommitment" type="xsd:int" />
      <xsd:element minOccurs="0" name="merchantAffiliateId" type="xsd:string" />
      <xsd:element minOccurs="0" name="merchantAffiliateSubId" type="xsd:string" />
      <xsd:element minOccurs="0" name="warnOnExpiration" type="xsd:boolean" />
      <xsd:element minOccurs="0" name="nextBilling" type="vin:Transaction" />
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="nameValues" type="vin:NameValuePair" />
      <xsd:element minOccurs="0" name="credit" type="vin:Credit" />
      <xsd:element minOccurs="0" name="statementFormat" type="vin:StatementFormat" />
      <xsd:element minOccurs="0" name="invoiceTerms" type="xsd:int" />
      <xsd:element minOccurs="0" name="statementOffset" type="xsd:int" />
      <xsd:element minOccurs="0" name="statementTemplateId" type="xsd:string" />
      <xsd:element minOccurs="0" name="billingPlanCampaignCode" type="xsd:string" />
      <xsd:element minOccurs="0" name="billingPlanCampaignId" type="xsd:string" />
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="billingPlanHistory" type="vin:BillingPlanHistoryRecord" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="AutoBillUpgradeHistoryStep">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="vid" type="xsd:string" />
      <xsd:element minOccurs="0" name="startTimestamp" type="xsd:dateTime" />
      <xsd:element minOccurs="0" name="endTimestamp" type="xsd:dateTime" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="PaymentDetails">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="merchantProductId" type="xsd:string" />
      <xsd:element minOccurs="0" name="productVid" type="xsd:string" />
      <xsd:element minOccurs="0" name="merchantAutoBillItemId" type="xsd:string" />
      <xsd:element minOccurs="0" name="autoBillItemVid" type="xsd:string" />
      <xsd:element minOccurs="0" name="remainingBalanceInSet" type="xsd:decimal" />
      <xsd:element minOccurs="0" name="remainingPaymentsInSet" type="xsd:int" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="BillingPlanHistoryRecord">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="merchantBillingPlanId" type="xsd:string" />
      <xsd:element minOccurs="0" name="startDate" type="xsd:dateTime" />
      <xsd:element minOccurs="0" name="endDate" type="xsd:dateTime" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="AutoBillItemModification">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="removeAutoBillItem" type="tns:AutoBillItem" />
      <xsd:element minOccurs="0" name="addAutoBillItem" type="tns:AutoBillItem" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="BillingPlanPrice">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="amount" type="xsd:decimal" />
      <xsd:element minOccurs="0" name="currency" type="xsd:string" />
      <xsd:element minOccurs="0" name="priceListName" type="xsd:string" />
      <xsd:element minOccurs="0" name="tokenAmount" type="tns:TokenAmount" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="BillingPlanPeriod">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="type" type="tns:BillingPeriodType" />
      <xsd:element minOccurs="0" name="quantity" type="xsd:int" />
      <xsd:element minOccurs="0" name="cycles" type="xsd:int" />
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="prices" type="vin:BillingPlanPrice" />
      <xsd:element minOccurs="0" name="expireWarningDays" type="xsd:int" />
      <xsd:element minOccurs="0" name="doNotNotifyFirstBill" type="xsd:boolean" />
      <xsd:element minOccurs="0" name="free" type="xsd:boolean" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="BillingPlan">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="VID" type="xsd:string" />
      <xsd:element minOccurs="0" name="merchantBillingPlanId" type="xsd:string" />
      <xsd:element minOccurs="0" name="description" type="xsd:string" />
      <xsd:element minOccurs="0" name="status" type="tns:BillingPlanStatus" />
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="periods" type="vin:BillingPlanPeriod" />
      <xsd:element minOccurs="0" name="prenotifyDays" type="xsd:int" />
      <xsd:element minOccurs="0" name="endOfLifeTimestamp" type="xsd:dateTime" />
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="nameValues" type="vin:NameValuePair" />
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="merchantEntitlementIds" type="vin:MerchantEntitlementId" />
      <xsd:element minOccurs="0" name="billingStatementIdentifier" type="xsd:string" />
      <xsd:element minOccurs="0" name="timesToRun" type="xsd:string" />
      <xsd:element minOccurs="0" name="entitlementsValidFor" type="xsd:string" />
      <xsd:element minOccurs="0" name="repeatEvery" type="xsd:string" />
      <xsd:element minOccurs="0" name="seasonSet" type="tns:SeasonSet" />
      <xsd:element minOccurs="0" name="daysBeforeSeasonToBill" type="xsd:int" />
      <xsd:element minOccurs="0" name="daysEntitledBeforeSeason" type="xsd:int" />
      <xsd:element minOccurs="0" name="daysEntitledAfterSeason" type="xsd:int" />
      <xsd:element minOccurs="0" name="entitledOffSeason" type="xsd:boolean" />
      <xsd:element minOccurs="0" name="skipInitialFreeWhenRepeating" type="xsd:boolean" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Campaign">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="name" type="xsd:string" />
      <xsd:element minOccurs="0" name="description" type="xsd:string" />
      <xsd:element minOccurs="0" name="campaignId" type="xsd:string" />
      <xsd:element minOccurs="0" name="VID" type="xsd:string" />
      <xsd:element minOccurs="0" name="state" type="vin:CampaignState" />
      <xsd:element minOccurs="0" name="offerStartDate" type="xsd:dateTime" />
      <xsd:element minOccurs="0" name="offerEndDate" type="xsd:dateTime" />
      <xsd:element minOccurs="0" name="campaignType" type="vin:CampaignType" />
      <xsd:element minOccurs="0" name="flatAmountDiscount" type="vin:CurrencyAmount" />
      <xsd:element minOccurs="0" name="percentageDiscount" type="xsd:decimal" />
      <xsd:element minOccurs="0" name="timeGrant" type="vin:CampaignTimeGrant" />
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="eligibleProducts" type="vin:Product" />
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="eligibleBillingPlans" type="vin:BillingPlan" />
      <xsd:element minOccurs="0" name="restrictToNewSubscription" type="xsd:boolean" />
      <xsd:element minOccurs="0" name="note" type="xsd:string" />
      <xsd:element minOccurs="0" name="expirationDate" type="xsd:dateTime" />
      <xsd:element minOccurs="0" name="cycles" type="xsd:integer" />
      <xsd:element minOccurs="0" name="promotionCode" type="xsd:string" />
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="promotionCodeAliases" type="xsd:string" />
      <xsd:element minOccurs="0" name="maxRedemptions" type="xsd:integer" />
      <xsd:element minOccurs="0" name="couponCodeQuantity" type="xsd:integer" />
      <xsd:element minOccurs="0" name="couponCodePrefix" type="xsd:string" />
      <xsd:element minOccurs="0" name="couponCodeSeparator" type="xsd:string" />
      <xsd:element minOccurs="0" name="couponCodeRequiresActivation" type="xsd:boolean" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="CouponCode">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="campaignId" type="xsd:string" />
      <xsd:element minOccurs="0" name="sequence" type="xsd:int" />
      <xsd:element minOccurs="0" name="code" type="xsd:string" />
      <xsd:element minOccurs="0" name="VID" type="xsd:string" />
      <xsd:element minOccurs="0" name="state" type="vin:CouponCodeState" />
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="redeemedBy" type="vin:CouponRedeemedBy" />
      <xsd:element minOccurs="0" name="note" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="CouponRedeemedBy">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="merchantAccountId" type="xsd:string" />
      <xsd:element minOccurs="0" name="accountVID" type="xsd:string" />
      <xsd:element minOccurs="0" name="date" type="xsd:dateTime" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="CampaignRedemption">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="campaignId" type="xsd:string" />
      <xsd:element minOccurs="0" name="couponSequenceNumber" type="xsd:int" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="CampaignTimeGrant">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="quantity" type="xsd:int" />
      <xsd:element minOccurs="0" name="type" type="vin:CampaignTimeGrantLengthType" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Chargeback">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="VID" type="xsd:string" />
      <xsd:element minOccurs="1" name="amount" type="xsd:decimal" />
      <xsd:element minOccurs="0" name="currency" type="xsd:string" />
      <xsd:element minOccurs="0" name="presentmentAmount" type="xsd:decimal" />
      <xsd:element minOccurs="0" name="presentmentCurrency" type="xsd:string" />
      <xsd:element minOccurs="0" name="divisionNumber" type="xsd:string" />
      <xsd:element minOccurs="1" name="reasonCode" type="xsd:string" />
      <xsd:element minOccurs="0" name="caseNumber" type="xsd:string" />
      <xsd:element minOccurs="0" name="referenceNumber" type="xsd:string" />
      <xsd:element minOccurs="0" name="merchantNumber" type="xsd:string" />
      <xsd:element minOccurs="0" name="merchantTransactionId" type="xsd:string" />
      <xsd:element minOccurs="0" name="merchantTransactionTimestamp" type="xsd:dateTime" />
      <xsd:element minOccurs="1" name="processorReceivedTimestamp" type="xsd:dateTime" />
      <xsd:element minOccurs="1" name="postedTimestamp" type="xsd:dateTime" />
      <xsd:element minOccurs="0" name="statusChangedTimestamp" type="xsd:dateTime" />
      <xsd:element minOccurs="1" name="status" type="tns:ChargebackStatus" />
      <xsd:element minOccurs="0" name="merchantUserId" type="xsd:string" />
      <xsd:element minOccurs="0" name="note" type="xsd:string" />
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="nameValues" type="vin:NameValuePair" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="TimeInterval">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="years" type="xsd:int" />
      <xsd:element minOccurs="0" name="months" type="xsd:int" />
      <xsd:element minOccurs="0" name="weeks" type="xsd:int" />
      <xsd:element minOccurs="0" name="days" type="xsd:int" />
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="nameValues" type="vin:NameValuePair" />
      <xsd:element minOccurs="0" name="sortValue" type="xsd:integer" />
      <xsd:element minOccurs="0" name="description" type="xsd:string" />
      <xsd:element minOccurs="0" name="reason" type="xsd:string" />
      <xsd:element minOccurs="0" name="grantedByCashbox" type="xsd:boolean" />
      <xsd:element minOccurs="0" name="granted" type="xsd:dateTime" />
      <xsd:element minOccurs="0" name="VID" type="xsd:string" />
      <xsd:element minOccurs="0" name="accountVID" type="xsd:string" />
      <xsd:element minOccurs="0" name="merchantAccountId" type="xsd:string" />
      <xsd:element minOccurs="0" name="autoBillVID" type="xsd:string" />
      <xsd:element minOccurs="0" name="merchantAutoBillId" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="CurrencyAmount">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="currency" type="xsd:string" />
      <xsd:element minOccurs="1" name="amount" type="xsd:decimal" />
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="nameValues" type="vin:NameValuePair" />
      <xsd:element minOccurs="0" name="sortValue" type="xsd:integer" />
      <xsd:element minOccurs="0" name="description" type="xsd:string" />
      <xsd:element minOccurs="0" name="reason" type="xsd:string" />
      <xsd:element minOccurs="0" name="grantedByCashbox" type="xsd:boolean" />
      <xsd:element minOccurs="0" name="granted" type="xsd:dateTime" />
      <xsd:element minOccurs="0" name="VID" type="xsd:string" />
      <xsd:element minOccurs="0" name="accountVID" type="xsd:string" />
      <xsd:element minOccurs="0" name="merchantAccountId" type="xsd:string" />
      <xsd:element minOccurs="0" name="autoBillVID" type="xsd:string" />
      <xsd:element minOccurs="0" name="merchantAutoBillId" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Credit">
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="tokenAmounts" type="vin:TokenAmount" />
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="timeIntervals" type="vin:TimeInterval" />
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="currencyAmounts" type="vin:CurrencyAmount" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="CreditEventLog">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="credit" type="tns:Credit" />
      <xsd:element minOccurs="0" name="timeStamp" type="xsd:dateTime" />
      <xsd:element minOccurs="0" name="type" type="tns:CreditEventType" />
      <xsd:element minOccurs="0" name="note" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Diagnostic">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="a_field" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="GiftCardStatus">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="status" type="tns:GiftCardStatusType" />
      <xsd:element minOccurs="0" name="timestamp" type="xsd:dateTime" />
      <xsd:element minOccurs="0" name="providerResponseCode" type="xsd:string" />
      <xsd:element minOccurs="0" name="providerResponseMsg" type="xsd:string" />
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="nameValues" type="vin:NameValuePair" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="GiftCard">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="sku" type="xsd:string" />
      <xsd:element minOccurs="0" name="pin" type="xsd:string" />
      <xsd:element minOccurs="0" name="lastDigits" type="xsd:string" />
      <xsd:element minOccurs="0" name="pinLength" type="xsd:int" />
      <xsd:element minOccurs="0" name="hashType" type="vin:HashType" />
      <xsd:element minOccurs="0" name="pinHash" type="xsd:string" />
      <xsd:element minOccurs="0" name="paymentProvider" type="xsd:string" />
      <xsd:element minOccurs="0" name="status" type="tns:GiftCardStatus" />
      <xsd:element minOccurs="0" name="VID" type="xsd:string" />
      <xsd:element minOccurs="0" name="product" type="tns:Product" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ElectronicSignature">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="VID" type="xsd:string" />
      <xsd:element minOccurs="1" name="uri" type="xsd:anyURI" />
      <xsd:element minOccurs="0" name="sourceIp" type="xsd:string" />
      <xsd:element minOccurs="1" name="timestamp" type="xsd:dateTime" />
      <xsd:element minOccurs="1" name="account" type="tns:Account" />
      <xsd:element minOccurs="1" name="transaction" type="tns:Transaction" />
      <xsd:element minOccurs="0" name="description" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="EmailTemplate">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="vid" type="xsd:string" />
      <xsd:element minOccurs="1" name="product" type="tns:Product" />
      <xsd:element minOccurs="0" name="templateType" type="vin:EmailTemplateType" />
      <xsd:element minOccurs="0" name="version" type="xsd:string" />
      <xsd:element minOccurs="0" name="from" type="xsd:string" />
      <xsd:element minOccurs="0" name="replyTo" type="xsd:string" />
      <xsd:element minOccurs="0" name="htmlMessage" type="xsd:string" />
      <xsd:element minOccurs="0" name="textMessage" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Entitlement">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="merchantEntitlementId" type="xsd:string" />
      <xsd:element minOccurs="0" name="description" type="xsd:string" />
      <xsd:element minOccurs="0" name="merchantAutoBillId" type="xsd:string" />
      <xsd:element minOccurs="0" name="autoBillVID" type="xsd:string" />
      <xsd:element minOccurs="0" name="merchantProductId" type="xsd:string" />
      <xsd:element minOccurs="0" name="productVID" type="xsd:string" />
      <xsd:element minOccurs="0" name="account" type="vin:Account" />
      <xsd:element minOccurs="0" name="startTimestamp" type="xsd:dateTime" />
      <xsd:element minOccurs="0" name="endTimestamp" type="xsd:dateTime" />
      <xsd:element minOccurs="0" name="active" type="xsd:boolean" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="CreditCard">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="account" type="xsd:string" />
      <xsd:element minOccurs="0" name="bin" type="xsd:string" />
      <xsd:element minOccurs="0" name="lastDigits" type="xsd:string" />
      <xsd:element minOccurs="0" name="accountLength" type="xsd:int" />
      <xsd:element minOccurs="0" name="hashType" type="vin:HashType" />
      <xsd:element minOccurs="0" name="accountHash" type="xsd:string" />
      <xsd:element minOccurs="0" name="expirationDate" type="xsd:string" />
      <xsd:element minOccurs="0" name="extendedCardAttributes" type="tns:ExtendedCardAttributes" />
      <xsd:element minOccurs="0" name="VID" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ExtendedCardAttributes">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="CommercialCard" type="xsd:int" />
      <xsd:element minOccurs="0" name="ConsumerCard" type="xsd:int" />
      <xsd:element minOccurs="0" name="CreditCard" type="xsd:int" />
      <xsd:element minOccurs="0" name="DebitCard" type="xsd:int" />
      <xsd:element minOccurs="0" name="SignatureDebitCard" type="xsd:int" />
      <xsd:element minOccurs="0" name="PINlessDebitCard" type="xsd:int" />
      <xsd:element minOccurs="0" name="GiftCard" type="xsd:int" />
      <xsd:element minOccurs="0" name="PrepaidCard" type="xsd:int" />
      <xsd:element minOccurs="0" name="PayrollCard" type="xsd:int" />
      <xsd:element minOccurs="0" name="HealthcareCard" type="xsd:int" />
      <xsd:element minOccurs="0" name="VirtualAccountNumber" type="xsd:int" />
      <xsd:element minOccurs="0" name="Reloadable" type="xsd:int" />
      <xsd:element minOccurs="0" name="CountryOfIssuance" type="xsd:string" />
      <xsd:element minOccurs="0" name="DurbinRegulated" type="xsd:int" />
      <xsd:element minOccurs="0" name="Affluent" type="xsd:int" />
      <xsd:element minOccurs="0" name="MassAffluent" type="xsd:int" />
      <xsd:element minOccurs="0" name="CardDescription" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ECP">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="account" type="xsd:string" />
      <xsd:element minOccurs="0" name="hashType" type="vin:HashType" />
      <xsd:element minOccurs="0" name="accountHash" type="xsd:string" />
      <xsd:element minOccurs="0" name="routingNumber" type="xsd:string" />
      <xsd:element minOccurs="0" name="accountType" type="tns:AccountType" />
      <xsd:element minOccurs="0" name="lastDigits" type="xsd:string" />
      <xsd:element minOccurs="0" name="accountLength" type="xsd:int" />
      <xsd:element minOccurs="0" name="allowedTransactionType" type="tns:ECPTransactionType" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="DirectDebit">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="account" type="xsd:string" />
      <xsd:element minOccurs="0" name="lastDigits" type="xsd:string" />
      <xsd:element minOccurs="0" name="accountLength" type="xsd:int" />
      <xsd:element minOccurs="0" name="hashType" type="vin:HashType" />
      <xsd:element minOccurs="0" name="accountHash" type="xsd:string" />
      <xsd:element minOccurs="0" name="countryCode" type="xsd:string" />
      <xsd:element minOccurs="0" name="bankSortCode" type="xsd:string" />
      <xsd:element minOccurs="0" name="ribCode" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Amazon">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="billingAgreementId" type="xsd:string" />
      <xsd:element minOccurs="0" name="buyerName" type="xsd:string" />
      <xsd:element minOccurs="0" name="buyerEmail" type="xsd:string" />
      <xsd:element minOccurs="0" name="physicalAddress" type="tns:Address" />
      <xsd:element minOccurs="0" name="billingAddress" type="tns:Address" />
      <xsd:element minOccurs="0" name="addressVerificationCode" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Skrill">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="billingAgreementId" type="xsd:string" />
      <xsd:element minOccurs="0" name="payFromEmail" type="xsd:string" />
      <xsd:element minOccurs="0" name="paymentType" type="xsd:string" />
      <xsd:element minOccurs="0" name="returnUrl" type="xsd:string" />
      <xsd:element minOccurs="0" name="cancelUrl" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="PayPal">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="paypalEmail" type="xsd:string" />
      <xsd:element minOccurs="0" name="payerId" type="xsd:string" />
      <xsd:element minOccurs="0" name="returnUrl" type="xsd:string" />
      <xsd:element minOccurs="0" name="cancelUrl" type="xsd:string" />
      <xsd:element minOccurs="0" name="requestReferenceId" type="xsd:boolean" />
      <xsd:element minOccurs="0" name="referenceId" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="HostedPage">
    <xsd:sequence>
      <xsd:element minOccurs="1" name="paymentProvider" type="tns:PaymentProvider" />
      <xsd:element minOccurs="1" name="countryCode" type="xsd:string" />
      <xsd:element minOccurs="0" name="returnUrl" type="xsd:string" />
      <xsd:element minOccurs="0" name="language" type="xsd:string" />
      <xsd:element minOccurs="0" name="processorPaymentMethodId" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Boleto">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="fiscalNumber" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="MerchantAcceptedPayment">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="amount" type="xsd:decimal" />
      <xsd:element minOccurs="0" name="currency" type="xsd:string" />
      <xsd:element minOccurs="0" name="token" type="tns:Token" />
      <xsd:element minOccurs="0" name="timestamp" type="xsd:dateTime" />
      <xsd:element minOccurs="1" name="paymentType" type="xsd:string" />
      <xsd:element minOccurs="0" name="paymentId" type="xsd:string" />
      <xsd:element minOccurs="0" name="account" type="xsd:string" />
      <xsd:element minOccurs="0" name="lastDigits" type="xsd:string" />
      <xsd:element minOccurs="0" name="accountLength" type="xsd:int" />
      <xsd:element minOccurs="0" name="hashType" type="vin:HashType" />
      <xsd:element minOccurs="0" name="accountHash" type="xsd:string" />
      <xsd:element minOccurs="0" name="note" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="PriceCriteria">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="paymentProvider" type="tns:PaymentProvider" />
      <xsd:element minOccurs="0" name="currency" type="xsd:string" />
      <xsd:element minOccurs="0" name="countryCode" type="xsd:string" />
      <xsd:element minOccurs="0" name="pricePointDeviationPolicy" type="tns:PricePointDeviationPolicy" />
      <xsd:element minOccurs="0" name="dynamicPriceMode" type="tns:DynamicPriceMode" />
      <xsd:element minOccurs="0" name="merchantServiceIdentifier" type="xsd:string" />
      <xsd:element minOccurs="0" name="subMerchantIdentifier" type="xsd:string" />
      <xsd:element minOccurs="0" name="description" type="xsd:string" />
      <xsd:element minOccurs="0" name="fwdUrl" type="xsd:string" />
      <xsd:element minOccurs="0" name="staticSelectionRowRef" type="xsd:int" />
      <xsd:element minOccurs="0" name="staticPriceIncSalesTax" type="xsd:decimal" />
      <xsd:element minOccurs="0" name="dynamicDeviation" type="xsd:int" />
      <xsd:element minOccurs="0" name="dynamicMatch" type="xsd:int" />
      <xsd:element minOccurs="0" name="dynamicTargetPrice" type="xsd:decimal" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="CarrierBilling">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="phoneNumber" type="vin:PhoneNumber" />
      <xsd:element minOccurs="0" name="encodedPhoneNumber" type="xsd:string" />
      <xsd:element minOccurs="0" name="paymentProvider" type="tns:PaymentProvider" />
      <xsd:element minOccurs="0" name="currency" type="xsd:string" />
      <xsd:element minOccurs="0" name="countryCode" type="xsd:string" />
      <xsd:element minOccurs="0" name="priceCriteria" type="vin:PriceCriteria" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="AvsCvnPolicyStatus">
    <xsd:sequence>
      <xsd:element minOccurs="1" name="returnCode" type="xsd:string" />
      <xsd:element minOccurs="0" name="returnString" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="PaymentMethod">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="VID" type="xsd:string" />
      <xsd:element minOccurs="0" name="type" type="tns:PaymentMethodType" />
      <xsd:element minOccurs="0" name="creditCard" type="tns:CreditCard" />
      <xsd:element minOccurs="0" name="ecp" type="tns:ECP" />
      <xsd:element minOccurs="0" name="directDebit" type="tns:DirectDebit" />
      <xsd:element minOccurs="0" name="paypal" type="tns:PayPal" />
      <xsd:element minOccurs="0" name="amazon" type="tns:Amazon" />
      <xsd:element minOccurs="0" name="skrill" type="tns:Skrill" />
      <xsd:element minOccurs="0" name="boleto" type="tns:Boleto" />
      <xsd:element minOccurs="0" name="hostedPage" type="tns:HostedPage" />
      <xsd:element minOccurs="0" name="token" type="tns:Token" />
      <xsd:element minOccurs="0" name="merchantAcceptedPayment" type="tns:MerchantAcceptedPayment" />
      <xsd:element minOccurs="0" name="carrierBilling" type="tns:CarrierBilling" />
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="nameValues" type="vin:NameValuePair" />
      <xsd:element minOccurs="0" name="accountHolderName" type="xsd:string" />
      <xsd:element minOccurs="0" name="billingAddress" type="tns:Address" />
      <xsd:element minOccurs="0" name="customerSpecifiedType" type="xsd:string" />
      <xsd:element minOccurs="0" name="customerDescription" type="xsd:string" />
      <xsd:element minOccurs="0" name="merchantPaymentMethodId" type="xsd:string" />
      <xsd:element minOccurs="0" name="currency" type="xsd:string" />
      <xsd:element minOccurs="0" name="sortOrder" type="xsd:int" />
      <xsd:element minOccurs="0" name="active" type="xsd:boolean" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="PaymentProvider">
    <xsd:sequence>
      <xsd:element minOccurs="1" name="name" type="xsd:string" />
      <xsd:element minOccurs="0" name="disputeAddress" type="tns:Address" />
      <xsd:element minOccurs="0" name="disputeEmail" type="xsd:string" />
      <xsd:element minOccurs="0" name="disputeUri" type="xsd:anyURI" />
      <xsd:element minOccurs="0" name="authExpirationDays" type="xsd:int" />
      <xsd:element minOccurs="0" name="authCurrencyOverride" type="xsd:string" />
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="nameValues" type="vin:NameValuePair" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="MerchantEntitlementId">
    <xsd:sequence>
      <xsd:element minOccurs="1" name="id" type="xsd:string" />
      <xsd:element minOccurs="0" name="description" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="NameValuePair">
    <xsd:sequence>
      <xsd:element minOccurs="1" name="name" type="xsd:string" />
      <xsd:element minOccurs="1" name="value" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ProductDescription">
    <xsd:sequence>
      <xsd:element minOccurs="1" name="language" type="xsd:string" />
      <xsd:element minOccurs="1" name="description" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ProductPrice">
    <xsd:sequence>
      <xsd:element minOccurs="1" name="amount" type="xsd:decimal" />
      <xsd:element minOccurs="0" name="currency" type="xsd:string" />
      <xsd:element minOccurs="0" name="token" type="tns:Token" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Product">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="VID" type="xsd:string" />
      <xsd:element minOccurs="0" name="merchantProductId" type="xsd:string" />
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="descriptions" type="vin:ProductDescription" />
      <xsd:element minOccurs="0" name="status" type="tns:ProductStatus" />
      <xsd:element minOccurs="0" name="taxClassification" type="xsd:string" />
      <xsd:element minOccurs="0" name="defaultBillingPlan" type="tns:BillingPlan" />
      <xsd:element minOccurs="0" name="defaultRatePlan" type="vin:RatePlan" />
      <xsd:element minOccurs="0" name="endOfLifeTimestamp" type="xsd:dateTime" />
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="nameValues" type="vin:NameValuePair" />
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="merchantEntitlementIds" type="vin:MerchantEntitlementId" />
      <xsd:element minOccurs="0" name="billingStatementIdentifier" type="xsd:string" />
      <xsd:element minOccurs="0" name="creditGranted" type="tns:Credit" />
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="prices" type="vin:ProductPrice" />
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="bundledProducts" type="vin:Product" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="RatePlan">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="description" type="xsd:string" />
      <xsd:element minOccurs="0" name="merchantRatePlanId" type="xsd:string" />
      <xsd:element minOccurs="0" name="VID" type="xsd:string" />
      <xsd:element minOccurs="0" name="multiplyRatedUnitsBy" type="tns:MultiplyRatedUnitsBy" />
      <xsd:element minOccurs="0" name="ratedUnit" type="tns:RatedUnit" />
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="tier" type="vin:RatePlanTier" />
      <xsd:element minOccurs="0" name="roundingDecimals" type="xsd:int" />
      <xsd:element minOccurs="0" name="includedUnits" type="xsd:decimal" />
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="minimumFee" type="vin:RatePlanPrice" />
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="maximumFee" type="vin:RatePlanPrice" />
      <xsd:element minOccurs="0" name="ratePlanModel" type="vin:RatePlanModel" />
      <xsd:element minOccurs="0" name="status" type="vin:RatePlanStatus" />
      <xsd:element minOccurs="0" name="hasEventRecorded" type="xsd:boolean" />
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="nameValues" type="vin:NameValuePair" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="RatePlanTier">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="name" type="xsd:string" />
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="ratePrice" type="vin:RatePlanPrice" />
      <xsd:element minOccurs="0" name="chargeCustomer" type="vin:ChargeCustomer" />
      <xsd:element minOccurs="0" name="beginsAtLevel" type="xsd:decimal" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="RatedUnit">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="nameSingular" type="xsd:string" />
      <xsd:element minOccurs="0" name="namePlural" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Event">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="merchantEventId" type="xsd:string" />
      <xsd:element minOccurs="0" name="VID" type="xsd:string" />
      <xsd:element minOccurs="0" name="dateReceived" type="xsd:dateTime" />
      <xsd:element minOccurs="0" name="eventDate" type="xsd:dateTime" />
      <xsd:element minOccurs="0" name="description" type="xsd:string" />
      <xsd:element minOccurs="0" name="merchantAutoBillItemId" type="xsd:string" />
      <xsd:element minOccurs="0" name="autoBillItemVid" type="xsd:string" />
      <xsd:element minOccurs="0" name="merchantAccountId" type="xsd:string" />
      <xsd:element minOccurs="0" name="accountVid" type="xsd:string" />
      <xsd:element minOccurs="0" name="merchantAutoBillId" type="xsd:string" />
      <xsd:element minOccurs="0" name="autoBillVid" type="xsd:string" />
      <xsd:element minOccurs="0" name="merchantProductId" type="xsd:string" />
      <xsd:element minOccurs="0" name="productVid" type="xsd:string" />
      <xsd:element minOccurs="0" name="amount" type="xsd:decimal" />
      <xsd:element minOccurs="0" name="billedStatus" type="vin:BilledStatus" />
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="nameValues" type="vin:NameValuePair" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="RatedUnitSummary">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="merchantAccountId" type="xsd:string" />
      <xsd:element minOccurs="0" name="accountVid" type="xsd:string" />
      <xsd:element minOccurs="0" name="merchantAutoBillId" type="xsd:string" />
      <xsd:element minOccurs="0" name="autobillVid" type="xsd:string" />
      <xsd:element minOccurs="0" name="merchantAutoBillItemId" type="xsd:string" />
      <xsd:element minOccurs="0" name="autobillItemVid" type="xsd:string" />
      <xsd:element minOccurs="0" name="merchantProductId" type="xsd:string" />
      <xsd:element minOccurs="0" name="productVid" type="xsd:string" />
      <xsd:element minOccurs="0" name="merchantRatePlanId" type="xsd:string" />
      <xsd:element minOccurs="0" name="ratePlanVid" type="xsd:string" />
      <xsd:element minOccurs="0" name="currentTotalRatedUnitsBill" type="xsd:decimal" />
      <xsd:element minOccurs="0" name="ratedUnitTotal" type="xsd:decimal" />
      <xsd:element minOccurs="0" name="ratedUnit" type="tns:RatedUnit" />
      <xsd:element minOccurs="0" name="eventCount" type="xsd:int" />
      <xsd:element minOccurs="0" name="currentTier" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="RatePlanPrice">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="amount" type="xsd:decimal" />
      <xsd:element minOccurs="0" name="currency" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Refund">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="VID" type="xsd:string" />
      <xsd:element minOccurs="0" name="merchantRefundId" type="xsd:string" />
      <xsd:element minOccurs="0" name="transaction" type="tns:Transaction" />
      <xsd:element minOccurs="1" name="amount" type="xsd:decimal" />
      <xsd:element minOccurs="0" name="currency" type="xsd:string" />
      <xsd:element minOccurs="0" name="timestamp" type="xsd:dateTime" />
      <xsd:element minOccurs="0" name="referenceString" type="xsd:string" />
      <xsd:element minOccurs="0" name="note" type="xsd:string" />
      <xsd:element minOccurs="0" name="tokenAction" type="tns:RefundTokenAction" />
      <xsd:element minOccurs="0" name="credit" type="vin:Credit" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Return">
    <xsd:sequence>
      <xsd:element minOccurs="1" name="returnCode" type="tns:ReturnCode" />
      <xsd:element minOccurs="0" name="returnString" type="xsd:string" />
      <xsd:element minOccurs="0" name="soapId" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Season">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="description" type="xsd:string" />
      <xsd:element minOccurs="0" name="startDate" type="xsd:date" />
      <xsd:element minOccurs="0" name="endDate" type="xsd:date" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SeasonSet">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="VID" type="xsd:string" />
      <xsd:element minOccurs="0" name="merchantSeasonSetId" type="xsd:string" />
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="seasons" type="vin:Season" />
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="nameValues" type="vin:NameValuePair" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="TaxExemption">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="region" type="vin:TaxRegion" />
      <xsd:element minOccurs="0" name="exemptionId" type="xsd:string" />
      <xsd:element minOccurs="1" name="active" type="xsd:boolean" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SalesTax">
    <xsd:sequence>
      <xsd:element minOccurs="1" name="description" type="xsd:string" />
      <xsd:element minOccurs="1" name="tax" type="xsd:decimal" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Token">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="VID" type="xsd:string" />
      <xsd:element minOccurs="0" name="merchantTokenId" type="xsd:string" />
      <xsd:element minOccurs="0" name="description" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="TokenAmount">
    <xsd:sequence>
      <xsd:element minOccurs="1" name="token" type="tns:Token" />
      <xsd:element minOccurs="1" name="amount" type="xsd:int" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="TokenTransaction">
    <xsd:sequence>
      <xsd:element minOccurs="1" name="tokenAmount" type="tns:TokenAmount" />
      <xsd:element minOccurs="0" name="description" type="xsd:string" />
      <xsd:element minOccurs="1" name="authTimestamp" type="xsd:dateTime" />
      <xsd:element minOccurs="0" name="clearedTimestamp" type="xsd:dateTime" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="CaptureResult">
    <xsd:sequence>
      <xsd:element minOccurs="1" name="returnCode" type="xsd:int" />
      <xsd:element minOccurs="1" name="merchantTransactionId" type="xsd:string" />
      <xsd:element minOccurs="0" name="originalMerchantTransactionId" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="CancelResult">
    <xsd:sequence>
      <xsd:element minOccurs="1" name="returnCode" type="xsd:int" />
      <xsd:element minOccurs="1" name="merchantTransactionId" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ScoreCode">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="description" type="xsd:string" />
      <xsd:element minOccurs="0" name="id" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="TransactionItem">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="sku" type="xsd:string" />
      <xsd:element minOccurs="1" name="name" type="xsd:string" />
      <xsd:element minOccurs="0" name="merchantAutoBillItemId" type="xsd:string" />
      <xsd:element minOccurs="0" name="autoBillItemVid" type="xsd:string" />
      <xsd:element minOccurs="1" name="price" type="xsd:decimal" />
      <xsd:element minOccurs="1" name="quantity" type="xsd:int" />
      <xsd:element minOccurs="0" name="taxClassification" type="xsd:string" />
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="tokens" type="vin:TokenAmount" />
      <xsd:element minOccurs="0" name="campaignCode" type="xsd:string" />
      <xsd:element minOccurs="0" name="campaignId" type="xsd:string" />
      <xsd:element minOccurs="0" name="servicePeriodStartDate" type="xsd:dateTime" />
      <xsd:element minOccurs="0" name="servicePeriodEndDate" type="xsd:dateTime" />
      <xsd:element minOccurs="0" name="taxType" type="xsd:string" />
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="tax" type="vin:TaxItem" />
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="relatedTransactions" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="TaxItem">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="jurisdiction" type="xsd:string" />
      <xsd:element minOccurs="0" name="name" type="xsd:string" />
      <xsd:element minOccurs="1" name="amount" type="xsd:decimal" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="TransactionStatus">
    <xsd:sequence>
      <xsd:element minOccurs="1" name="status" type="tns:TransactionStatusType" />
      <xsd:element minOccurs="1" name="timestamp" type="xsd:dateTime" />
      <xsd:element minOccurs="1" name="paymentMethodType" type="tns:PaymentMethodType" />
      <xsd:element minOccurs="0" name="creditCardStatus" type="tns:TransactionStatusCreditCard" />
      <xsd:element minOccurs="0" name="ecpStatus" type="tns:TransactionStatusECP" />
      <xsd:element minOccurs="0" name="boletoStatus" type="tns:TransactionStatusBoleto" />
      <xsd:element minOccurs="0" name="hostedPageStatus" type="tns:TransactionStatusHostedPage" />
      <xsd:element minOccurs="0" name="payPalStatus" type="tns:TransactionStatusPayPal" />
      <xsd:element minOccurs="0" name="directDebitStatus" type="tns:TransactionStatusDirectDebit" />
      <xsd:element minOccurs="0" name="carrierBillingStatus" type="tns:TransactionStatusCarrierBilling" />
      <xsd:element minOccurs="0" name="amazonStatus" type="tns:TransactionStatusAmazon" />
      <xsd:element minOccurs="0" name="skrillStatus" type="tns:TransactionStatusSkrill" />
      <xsd:element minOccurs="0" name="vinAVS" type="tns:AVSMatchType" />
      <xsd:element minOccurs="0" name="fundingSourceBalance" type="xsd:decimal" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="TransactionStatusCreditCard">
    <xsd:sequence>
      <xsd:element minOccurs="1" name="authCode" type="xsd:string" />
      <xsd:element minOccurs="0" name="avsCode" type="xsd:string" />
      <xsd:element minOccurs="0" name="cvnCode" type="xsd:string" />
      <xsd:element minOccurs="0" name="extendedCardAttributes" type="tns:ExtendedCardAttributes" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="TransactionStatusECP">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="authCode" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="TransactionStatusBoleto">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="uri" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="TransactionStatusHostedPage">
    <xsd:sequence>
      <xsd:element minOccurs="1" name="authCode" type="xsd:string" />
      <xsd:element minOccurs="0" name="redirectUrl" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="TransactionStatusPayPal">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="token" type="xsd:string" />
      <xsd:element minOccurs="0" name="paypalEmail" type="xsd:string" />
      <xsd:element minOccurs="0" name="payerId" type="xsd:string" />
      <xsd:element minOccurs="0" name="authCode" type="xsd:string" />
      <xsd:element minOccurs="0" name="redirectUrl" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="TransactionStatusAmazon">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="authCode" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="TransactionStatusSkrill">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="authCode" type="xsd:string" />
      <xsd:element minOccurs="0" name="token" type="xsd:string" />
      <xsd:element minOccurs="0" name="redirectUrl" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="TransactionStatusCarrierBilling">
    <xsd:sequence>
      <xsd:element minOccurs="1" name="authCode" type="xsd:string" />
      <xsd:element minOccurs="0" name="buyUrl" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="TransactionStatusDirectDebit">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="authCode" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Transaction">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="VID" type="xsd:string" />
      <xsd:element minOccurs="0" name="amount" type="xsd:decimal" />
      <xsd:element minOccurs="0" name="originalAmount" type="xsd:decimal" />
      <xsd:element minOccurs="0" name="currency" type="xsd:string" />
      <xsd:element minOccurs="0" name="divisionNumber" type="xsd:string" />
      <xsd:element minOccurs="0" name="merchantTransactionId" type="xsd:string" />
      <xsd:element minOccurs="0" name="previousMerchantTransactionId" type="xsd:string" />
      <xsd:element minOccurs="0" name="timestamp" type="xsd:dateTime" />
      <xsd:element minOccurs="0" name="account" type="tns:Account" />
      <xsd:element minOccurs="0" name="sourcePaymentMethod" type="tns:PaymentMethod" />
      <xsd:element minOccurs="0" name="destPaymentMethod" type="tns:PaymentMethod" />
      <xsd:element minOccurs="0" name="ecpTransactionType" type="tns:ECPTransactionType" />
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="statusLog" type="vin:TransactionStatus" />
      <xsd:element minOccurs="0" name="paymentProcessor" type="xsd:string" />
      <xsd:element minOccurs="0" name="sourcePhoneNumber" type="xsd:string" />
      <xsd:element minOccurs="0" name="shippingAddress" type="tns:Address" />
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="nameValues" type="vin:NameValuePair" />
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="transactionItems" type="vin:TransactionItem" />
      <xsd:element minOccurs="0" name="merchantAffiliateId" type="xsd:string" />
      <xsd:element minOccurs="0" name="merchantAffiliateSubId" type="xsd:string" />
      <xsd:element minOccurs="0" name="userAgent" type="xsd:string" />
      <xsd:element minOccurs="0" name="note" type="xsd:string" />
      <xsd:element minOccurs="0" name="preferredNotificationLanguage" type="xsd:string" />
      <xsd:element minOccurs="0" name="sourceMacAddress" type="xsd:string" />
      <xsd:element minOccurs="0" name="sourceIp" type="xsd:string" />
      <xsd:element minOccurs="0" name="billingStatementIdentifier" type="xsd:string" />
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="taxExemptions" type="vin:TaxExemption" />
      <xsd:element minOccurs="0" name="salesTaxAddress" type="tns:Address" />
      <xsd:element minOccurs="0" name="verificationCode" type="xsd:string" />
      <xsd:element minOccurs="0" name="autoBillCycle" type="xsd:int" />
      <xsd:element minOccurs="0" name="billingPlanCycle" type="xsd:int" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="TransactionCampaignDiscount">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="discount" type="xsd:decimal" />
      <xsd:element minOccurs="0" name="campaignId" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="MigrationTaxItem">
    <xsd:sequence>
      <xsd:element minOccurs="1" name="amount" type="xsd:decimal" />
      <xsd:element minOccurs="0" name="jurisdiction" type="xsd:string" />
      <xsd:element minOccurs="0" name="name" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="MigrationTransactionItem">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="itemType" type="tns:MigrationTransactionItemType" />
      <xsd:element minOccurs="0" name="servicePeriodStartDate" type="xsd:dateTime" />
      <xsd:element minOccurs="0" name="servicePeriodEndDate" type="xsd:dateTime" />
      <xsd:element minOccurs="0" name="merchantAutoBillItemId" type="xsd:string" />
      <xsd:element minOccurs="1" name="sku" type="xsd:string" />
      <xsd:element minOccurs="1" name="name" type="xsd:string" />
      <xsd:element minOccurs="1" name="price" type="xsd:decimal" />
      <xsd:element minOccurs="0" name="taxClassification" type="xsd:string" />
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="migrationTaxItems" type="vin:MigrationTaxItem" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="MigrationTransaction">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="account" type="tns:Account" />
      <xsd:element minOccurs="0" name="merchantTransactionId" type="xsd:string" />
      <xsd:element minOccurs="0" name="type" type="tns:MigrationTransactionType" />
      <xsd:element minOccurs="0" name="amount" type="xsd:decimal" />
      <xsd:element minOccurs="0" name="currency" type="xsd:string" />
      <xsd:element minOccurs="0" name="autoBillCycle" type="xsd:int" />
      <xsd:element minOccurs="0" name="merchantBillingPlanId" type="xsd:string" />
      <xsd:element minOccurs="0" name="billingPlanCycle" type="xsd:int" />
      <xsd:element minOccurs="0" name="billingDate" type="xsd:dateTime" />
      <xsd:element minOccurs="0" name="retryNumber" type="xsd:int" />
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="migrationTransactionItems" type="vin:MigrationTransactionItem" />
      <xsd:element minOccurs="1" name="paymentMethod" type="tns:PaymentMethod" />
      <xsd:element minOccurs="0" name="verificationCode" type="xsd:string" />
      <xsd:element minOccurs="0" name="taxInclusive" type="xsd:boolean" />
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="taxExemptions" type="vin:TaxExemption" />
      <xsd:element minOccurs="0" name="salesTaxAddress" type="tns:Address" />
      <xsd:element minOccurs="0" name="shippingAddress" type="tns:Address" />
      <xsd:element minOccurs="0" name="paymentProcessor" type="xsd:string" />
      <xsd:element minOccurs="0" name="paymentProcessorTransactionId" type="xsd:string" />
      <xsd:element minOccurs="0" name="divisionNumber" type="xsd:string" />
      <xsd:element minOccurs="0" name="merchantAffiliateId" type="xsd:string" />
      <xsd:element minOccurs="0" name="merchantAffiliateSubId" type="xsd:string" />
      <xsd:element minOccurs="0" name="preferredNotificationLanguage" type="xsd:string" />
      <xsd:element minOccurs="0" name="sourceIp" type="xsd:string" />
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="nameValues" type="vin:NameValuePair" />
      <xsd:element maxOccurs="unbounded" minOccurs="1" name="statusLog" type="vin:TransactionStatus" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="TransactionValidationResponse">
    <xsd:sequence>
      <xsd:element minOccurs="1" name="merchantTransactionId" type="xsd:string" />
      <xsd:element minOccurs="1" name="code" type="xsd:int" />
      <xsd:element minOccurs="1" name="description" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="PhoneNumber">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="phoneType" type="tns:PhoneType" />
      <xsd:element minOccurs="0" name="countryCode" type="xsd:string" />
      <xsd:element minOccurs="1" name="areaCode" type="xsd:string" />
      <xsd:element minOccurs="1" name="localNumber" type="xsd:string" />
      <xsd:element minOccurs="0" name="extension" type="xsd:string" />
      <xsd:element minOccurs="0" name="rawInput" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="WebSession">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="VID" type="xsd:string" />
      <xsd:element minOccurs="0" name="method" type="xsd:string" />
      <xsd:element minOccurs="0" name="version" type="xsd:string" />
      <xsd:element minOccurs="0" name="returnURL" type="xsd:string" />
      <xsd:element minOccurs="0" name="errorURL" type="xsd:string" />
      <xsd:element minOccurs="0" name="ipAddress" type="xsd:string" />
      <xsd:element minOccurs="0" name="expireTime" type="xsd:dateTime" />
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="nameValues" type="vin:NameValuePair" />
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="postValues" type="vin:NameValuePair" />
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="methodParamValues" type="vin:NameValuePair" />
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="privateFormValues" type="vin:NameValuePair" />
      <xsd:element minOccurs="0" name="apiReturn" type="tns:Return" />
      <xsd:element minOccurs="0" name="apiReturnValues" type="tns:WebSessionMethodReturn" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="WebSessionMethodReturn">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="method" type="xsd:string" />
      <xsd:element minOccurs="0" name="paymentMethodValidate" type="tns:PaymentMethodValidate" />
      <xsd:element minOccurs="0" name="paymentMethodUpdate" type="tns:PaymentMethodUpdate" />
      <xsd:element minOccurs="0" name="transactionAuth" type="tns:TransactionAuth" />
      <xsd:element minOccurs="0" name="autoBillUpdate" type="tns:AutoBillUpdate" />
      <xsd:element minOccurs="0" name="transactionAuthCapture" type="tns:TransactionAuthCapture" />
      <xsd:element minOccurs="0" name="accountUpdatePaymentMethod" type="tns:AccountUpdatePaymentMethod" />
      <xsd:element minOccurs="0" name="accountUpdate" type="tns:AccountUpdate" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="PaymentMethodValidate">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="authStatus" type="vin:TransactionStatus" />
      <xsd:element minOccurs="0" name="validated" type="xsd:boolean" />
      <xsd:element minOccurs="0" name="score" type="xsd:int" />
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="scoreCodes" type="vin:ScoreCode" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="PaymentMethodUpdate">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="paymentMethod" type="vin:PaymentMethod" />
      <xsd:element minOccurs="0" name="created" type="xsd:boolean" />
      <xsd:element minOccurs="0" name="validated" type="xsd:boolean" />
      <xsd:element minOccurs="0" name="score" type="xsd:int" />
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="scoreCodes" type="vin:ScoreCode" />
      <xsd:element minOccurs="0" name="authStatus" type="vin:TransactionStatus" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="TransactionAuth">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="transaction" type="vin:Transaction" />
      <xsd:element minOccurs="0" name="score" type="xsd:int" />
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="scoreCodes" type="vin:ScoreCode" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="AutoBillUpdate">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="autobill" type="vin:AutoBill" />
      <xsd:element minOccurs="0" name="created" type="xsd:boolean" />
      <xsd:element minOccurs="0" name="authStatus" type="vin:TransactionStatus" />
      <xsd:element minOccurs="0" name="firstBillDate" type="xsd:date" />
      <xsd:element minOccurs="0" name="firstBillAmount" type="xsd:decimal" />
      <xsd:element minOccurs="0" name="firstBillingCurrency" type="xsd:string" />
      <xsd:element minOccurs="0" name="score" type="xsd:int" />
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="scoreCodes" type="vin:ScoreCode" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="TransactionAuthCapture">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="transaction" type="vin:Transaction" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="AccountUpdatePaymentMethod">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="account" type="vin:Account" />
      <xsd:element minOccurs="0" name="validated" type="xsd:boolean" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="AccountUpdate">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="account" type="vin:Account" />
      <xsd:element minOccurs="0" name="created" type="xsd:boolean" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:simpleType name="EmailPreference">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="plaintext" />
      <xsd:enumeration value="html" />
      <xsd:enumeration value="multipart" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="PaymentUpdateBehavior">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="Update" />
      <xsd:enumeration value="Validate" />
      <xsd:enumeration value="CatchUp" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="AccountPayerReplacementBehavior">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="ReplaceOnAllAutoBills" />
      <xsd:enumeration value="ReplaceOnlyFutureAutoBills" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="ActivityCancelInitType">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="Merchant" />
      <xsd:enumeration value="Customer" />
      <xsd:enumeration value="Chargeback" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="ActivityType">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="Login" />
      <xsd:enumeration value="Logout" />
      <xsd:enumeration value="URIView" />
      <xsd:enumeration value="Phone" />
      <xsd:enumeration value="Email" />
      <xsd:enumeration value="Fulfillment" />
      <xsd:enumeration value="Usage" />
      <xsd:enumeration value="NamedValue" />
      <xsd:enumeration value="Cancellation" />
      <xsd:enumeration value="Note" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="ActivityCallType">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="FromMerchantToCustomer" />
      <xsd:enumeration value="FromMerchantToOther" />
      <xsd:enumeration value="FromCustomerToMerchant" />
      <xsd:enumeration value="FromCustomerToOther" />
      <xsd:enumeration value="FromOtherToCustomer" />
      <xsd:enumeration value="FromOtherToMerchant" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="AddressType">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="Shipping" />
      <xsd:enumeration value="Billing" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="AutoBillStatus">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="Active" />
      <xsd:enumeration value="Suspended" />
      <xsd:enumeration value="Cancelled" />
      <xsd:enumeration value="Upgraded" />
      <xsd:enumeration value="PendingCustomerAction" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DuplicateBehavior">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="Duplicate" />
      <xsd:enumeration value="SucceedIgnore" />
      <xsd:enumeration value="Fail" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="BillingPeriodType">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="Day" />
      <xsd:enumeration value="Week" />
      <xsd:enumeration value="Month" />
      <xsd:enumeration value="Year" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="UpgradeNegativeNet">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="CREDIT" />
      <xsd:enumeration value="REFUND" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="UpgradeProrate">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="LINEAR" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="StatementFormat">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="DoNotSend" />
      <xsd:enumeration value="Inline" />
      <xsd:enumeration value="Attachment" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="PaymentOverageDisposition">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="applyToThisAutoBill" />
      <xsd:enumeration value="applytoOldestInvoice" />
      <xsd:enumeration value="applytoCredit" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="InvoiceStates">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="Open" />
      <xsd:enumeration value="Due" />
      <xsd:enumeration value="Paid" />
      <xsd:enumeration value="Overdue" />
      <xsd:enumeration value="Written Off" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="BillingPlanStatus">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="Active" />
      <xsd:enumeration value="Suspended" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="CampaignState">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="Undefined" />
      <xsd:enumeration value="Active" />
      <xsd:enumeration value="Inactive" />
      <xsd:enumeration value="Pending" />
      <xsd:enumeration value="Complete" />
      <xsd:enumeration value="MatchAnyState" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="CampaignType">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="Undefined" />
      <xsd:enumeration value="Coupon" />
      <xsd:enumeration value="Promotion" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="PromotionType">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="Undefined" />
      <xsd:enumeration value="Rolling" />
      <xsd:enumeration value="Fixed" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="PromotionPeriodLengthType">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="Undefined" />
      <xsd:enumeration value="Day" />
      <xsd:enumeration value="Week" />
      <xsd:enumeration value="Month" />
      <xsd:enumeration value="Year" />
      <xsd:enumeration value="Hour" />
      <xsd:enumeration value="BillingCycle" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="CouponCodeState">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="Not Yet Activated" />
      <xsd:enumeration value="Activated" />
      <xsd:enumeration value="Redeemed" />
      <xsd:enumeration value="Expired" />
      <xsd:enumeration value="Marked Used" />
      <xsd:enumeration value="Retrieved" />
      <xsd:enumeration value="Invalidated" />
      <xsd:enumeration value="Initialized" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="CampaignTimeGrantLengthType">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="Day" />
      <xsd:enumeration value="Week" />
      <xsd:enumeration value="Month" />
      <xsd:enumeration value="Year" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="ChargebackStatus">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="New" />
      <xsd:enumeration value="Retrieval" />
      <xsd:enumeration value="Responded" />
      <xsd:enumeration value="Legitimate" />
      <xsd:enumeration value="Challenged" />
      <xsd:enumeration value="Represented" />
      <xsd:enumeration value="Won" />
      <xsd:enumeration value="Lost" />
      <xsd:enumeration value="CollectionsNew" />
      <xsd:enumeration value="CollectionsWon" />
      <xsd:enumeration value="CollectionsLost" />
      <xsd:enumeration value="Expired" />
      <xsd:enumeration value="Pass" />
      <xsd:enumeration value="Incomplete" />
      <xsd:enumeration value="NewSecondChargeback" />
      <xsd:enumeration value="Duplicate" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="TimeIntervalType">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="Day" />
      <xsd:enumeration value="Week" />
      <xsd:enumeration value="Month" />
      <xsd:enumeration value="Year" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="CreditEventType">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="GiftCardRedemption" />
      <xsd:enumeration value="GiftCardReversal" />
      <xsd:enumeration value="GiftCardStatusInquiry" />
      <xsd:enumeration value="Grant" />
      <xsd:enumeration value="Revocation" />
      <xsd:enumeration value="Consumption" />
      <xsd:enumeration value="Refund" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="GiftCardActivityType">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="Redeem" />
      <xsd:enumeration value="Reverse" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="GiftCardStatusType">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="Unknown" />
      <xsd:enumeration value="Active" />
      <xsd:enumeration value="RedemptionPending" />
      <xsd:enumeration value="Redeemed" />
      <xsd:enumeration value="Deactive" />
      <xsd:enumeration value="Suspended" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="EmailTemplateType">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="PreBilling" />
      <xsd:enumeration value="PreBillingNoPaymentMethod" />
      <xsd:enumeration value="Success" />
      <xsd:enumeration value="FailureSoftFail" />
      <xsd:enumeration value="FailureHardFail" />
      <xsd:enumeration value="FailureNoPaymentMethod" />
      <xsd:enumeration value="BillingDelay" />
      <xsd:enumeration value="BillingDelayNoPaymentMethod" />
      <xsd:enumeration value="Cancellation" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="PaymentMethodType">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="CreditCard" />
      <xsd:enumeration value="PayPal" />
      <xsd:enumeration value="ECP" />
      <xsd:enumeration value="DirectDebit" />
      <xsd:enumeration value="Token" />
      <xsd:enumeration value="HostedPage" />
      <xsd:enumeration value="Boleto" />
      <xsd:enumeration value="MerchantAcceptedPayment" />
      <xsd:enumeration value="CarrierBilling" />
      <xsd:enumeration value="Amazon" />
      <xsd:enumeration value="Skrill" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="HashType">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="sha1" />
      <xsd:enumeration value="md5" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="AccountType">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="ConsumerChecking" />
      <xsd:enumeration value="ConsumerSavings" />
      <xsd:enumeration value="CorporateChecking" />
      <xsd:enumeration value="CorporateSavings" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="ECPTransactionType">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="All" />
      <xsd:enumeration value="Inbound" />
      <xsd:enumeration value="Outbound" />
      <xsd:enumeration value="InboundOutbound" />
      <xsd:enumeration value="Transfer" />
      <xsd:enumeration value="NA" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="PricePointDeviationPolicy">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="HiPreferred" />
      <xsd:enumeration value="HiOnly" />
      <xsd:enumeration value="LowPreferred" />
      <xsd:enumeration value="LowOnly" />
      <xsd:enumeration value="NearestNoPreference" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DynamicPriceMode">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="Price" />
      <xsd:enumeration value="PayoutGross" />
      <xsd:enumeration value="PayoutNet" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="ProductStatus">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="Active" />
      <xsd:enumeration value="Suspended" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="MultiplyRatedUnitsBy">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="EachRespectiveTier" />
      <xsd:enumeration value="HighestApplicableTier" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="RatePlanModel">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="UsageBased" />
      <xsd:enumeration value="LicenseBased" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="ChargeCustomer">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="FlatFee" />
      <xsd:enumeration value="PerUnit" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="RatePlanStatus">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="Active" />
      <xsd:enumeration value="Suspended" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="BilledStatus">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="Billed" />
      <xsd:enumeration value="Unbilled" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="EventRecordMethod">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="Add" />
      <xsd:enumeration value="Deduct" />
      <xsd:enumeration value="SetTotal" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="RefundTokenAction">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="None" />
      <xsd:enumeration value="CancelZeroBalance" />
      <xsd:enumeration value="CancelNegativeBalance" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="ReturnCode">
    <xsd:restriction base="xsd:int">
      <xsd:enumeration value="200" />
      <xsd:enumeration value="201" />
      <xsd:enumeration value="202" />
      <xsd:enumeration value="203" />
      <xsd:enumeration value="204" />
      <xsd:enumeration value="205" />
      <xsd:enumeration value="206" />
      <xsd:enumeration value="261" />
      <xsd:enumeration value="300" />
      <xsd:enumeration value="301" />
      <xsd:enumeration value="302" />
      <xsd:enumeration value="303" />
      <xsd:enumeration value="304" />
      <xsd:enumeration value="305" />
      <xsd:enumeration value="306" />
      <xsd:enumeration value="307" />
      <xsd:enumeration value="400" />
      <xsd:enumeration value="401" />
      <xsd:enumeration value="402" />
      <xsd:enumeration value="403" />
      <xsd:enumeration value="404" />
      <xsd:enumeration value="405" />
      <xsd:enumeration value="406" />
      <xsd:enumeration value="407" />
      <xsd:enumeration value="408" />
      <xsd:enumeration value="409" />
      <xsd:enumeration value="410" />
      <xsd:enumeration value="411" />
      <xsd:enumeration value="412" />
      <xsd:enumeration value="413" />
      <xsd:enumeration value="414" />
      <xsd:enumeration value="415" />
      <xsd:enumeration value="416" />
      <xsd:enumeration value="417" />
      <xsd:enumeration value="500" />
      <xsd:enumeration value="501" />
      <xsd:enumeration value="502" />
      <xsd:enumeration value="503" />
      <xsd:enumeration value="504" />
      <xsd:enumeration value="505" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="TaxRegion">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="AT" />
      <xsd:enumeration value="BE" />
      <xsd:enumeration value="BG" />
      <xsd:enumeration value="CY" />
      <xsd:enumeration value="CZ" />
      <xsd:enumeration value="DE" />
      <xsd:enumeration value="DK" />
      <xsd:enumeration value="EE" />
      <xsd:enumeration value="EL" />
      <xsd:enumeration value="ES" />
      <xsd:enumeration value="FI" />
      <xsd:enumeration value="FR" />
      <xsd:enumeration value="GB" />
      <xsd:enumeration value="HU" />
      <xsd:enumeration value="IE" />
      <xsd:enumeration value="IT" />
      <xsd:enumeration value="LT" />
      <xsd:enumeration value="LU" />
      <xsd:enumeration value="LV" />
      <xsd:enumeration value="MT" />
      <xsd:enumeration value="NL" />
      <xsd:enumeration value="PL" />
      <xsd:enumeration value="PT" />
      <xsd:enumeration value="RO" />
      <xsd:enumeration value="SE" />
      <xsd:enumeration value="SI" />
      <xsd:enumeration value="SK" />
      <xsd:enumeration value="CH" />
      <xsd:enumeration value="CA" />
      <xsd:enumeration value="US" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="TransactionStatusType">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="New" />
      <xsd:enumeration value="AuthorizationPending" />
      <xsd:enumeration value="AuthorizedPending" />
      <xsd:enumeration value="Authorized" />
      <xsd:enumeration value="AuthorizedForValidation" />
      <xsd:enumeration value="Cancelled" />
      <xsd:enumeration value="Captured" />
      <xsd:enumeration value="Settled" />
      <xsd:enumeration value="Refunded" />
      <xsd:enumeration value="Pending" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="AVSMatchType">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="FullMatch" />
      <xsd:enumeration value="PartialMatch" />
      <xsd:enumeration value="NoMatch" />
      <xsd:enumeration value="IssuerError" />
      <xsd:enumeration value="NoOpinion" />
      <xsd:enumeration value="NotSupported" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="TransactionAttemptSummary">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="Success" />
      <xsd:enumeration value="Failure" />
      <xsd:enumeration value="Pending" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="MigrationTransactionType">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="Recurring" />
      <xsd:enumeration value="NonRecurring" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="MigrationTransactionItemType">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="RecurringCharge" />
      <xsd:enumeration value="NonRecurringCharge" />
      <xsd:enumeration value="Credit" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="PhoneType">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="Unspecified" />
      <xsd:enumeration value="Home" />
      <xsd:enumeration value="Work" />
      <xsd:enumeration value="Mobile" />
      <xsd:enumeration value="Fax" />
      <xsd:enumeration value="Pager" />
      <xsd:enumeration value="Main" />
      <xsd:enumeration value="CS" />
    </xsd:restriction>
  </xsd:simpleType>
</xsd:schema>